<app-form 
    title="Add Employee"
    [formGroup]="employeeForm"
    (onSubmit)="onSubmit()">
    <app-input
        label="First Name"
        id="firstName"
        formControlName="firstName"
        type="text"
        placeholder="John"
        />
    <app-input
        label="Last Name"
        id="lastName"
        formControlName="lastName"
        type="text"
        placeholder="Doe"
        />
    <app-input
        label="Email"
        id="email"
        formControlName="email"
        type="text"
        placeholder="john.doe@mail.com"
        />
    <app-input
        label="Job"
        id="job"
        formControlName="job"
        type="text"
        placeholder="Saler"
        />
    <app-input
        label="Hiring Date"
        id="hiringDate"
        formControlName="hiringDate"
        type="date"
        />
    <app-button>Submit</app-button>
</app-form>