<app-form 
    title="Add Employee">
    <app-input
        label="First Name"
        id="firstname"
        name="first-name"
        type="text"
        placeholder="John"
        />
    <app-input
        label="Last Name"
        id="lastname"
        name="last-name"
        type="text"
        placeholder="Doe"
        />
    <app-input
        label="Email"
        id="emailname"
        name="email-name"
        type="text"
        placeholder="john.doe@mail.com"
        />
    <app-input
        label="Job"
        id="job"
        name="_job"
        type="text"
        placeholder="Saler"
        />
    <app-input
        label="Hiring Date"
        id="hiringdate"
        name="hiring-date"
        type="date"
        />
    <app-button>Submit</app-button>
</app-form>